.enter {
  position: fixed;
  height: 100vh;
  color: black;
  font-size: 46px;
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  padding: 40px;
  background: white;
  transition: opacity 0.3s ease;
}

.enter.clicked {
  opacity: 0;
}

.App {
  pointer-events: none;
  position: fixed;
  width: 100%;
  overflow: auto;
  height: 100vh;
  background-color: black;
  opacity: 0;
  color: white;
  padding: 30px;
  font-size: 24px;
  transition: opacity 0.3s ease;
}

.App.clicked {
  opacity: 0.7;
}

.miss {
  font-size: 28px;
}

.date {
  font-style: italic;
}